*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#gameboard{
    display: flex;
    flex-wrap: wrap;
    height: 480px;
    width: 480px;


}

.square{
    position: relative;
    height: 60px;
    width: 60px;

}

.brown{
    background-color: #874D25;
}

.beige{
    background-color:#DCB484;
}

.piece{
    position: relative;
    z-index: 0;
}

.black{
    position: relative;
    height: 50px;
    width: 50px;
    margin: 5px;
    color:black;
    text-align: center;
    font-size: 2.5rem;
    z-index: -9;

}

.white{
    position: relative;
    height: 50px;
    width: 50px;
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    z-index: -9;
}

.path{
    position: relative;
    z-index: -10;


}